<h1>Score</h1>
<p> The letters were: <%= @array %> </p>
<p> Your answer is: <%= @answer %> </p>
<p> <%= @display_message %> </p>
<p>Your score is: <%= @score %></p>

<%= link_to "Play again", new_path %>
